# Токен от @BotFather
BOT_TOKEN=123456789:AAH...

# Пути к файлам (внутри контейнера)
CAPTIONS_FILE=/app/captions.txt
SAVE_DIR=/app/saved_images
FONT_PATH=.\fonts\Lobster-Regular.ttf
FONT_SIZE=48

# ID канала для репоста (начинается с -100)
# Бот должен быть администратором в этом канале
CHANNEL_ID=-1001234567890